<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
    <head>
        <title>Services page</title>
    </head>
    <body>
        <section id="content">
            <h1>Welcome to services page</h1>
            <h4>Services offers by Nexus</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis saepe totam temporibus ullam necessitatibus 
                provident dolorem, sed rerum. Sunt reprehenderit porro minus repudiandae saepe quos asperiores facere in labore laudantium!</p>
        </section>
        <script>
            console.log("Services Page");
        </script>
    </body>
</html>